#
# New Relic Server Monitor configuration file.
#

license_key={{ nr_license }}

loglevel=info
logfile=/var/log/newrelic/nrsysmond.log

#proxy=

#ssl=false
#ssl_ca_bundle=/path/to/your/bundle.crt
#ssl_ca_path=/etc/ssl/certs

#pidfile=/var/run/newrelic/nrsysmond.pid

#collector_host=collector.newrelic.com

#timeout=30
